{% extends '@App/layout.html.twig' %}
{% block content %}
<h1> Modification d'un thème  </h1>

{{ include('@App/forum/form.html.twig') }}
{#}
<ul>
  
  {% for theme in themes %}
   <li>
     <a href="{{ path('affichage', {'id': 1}) }}">  
      {{ theme.intitule }} 
     </a>
   <li> {{ theme.date|date('d/m/Y') }} </li>
   </br>
  
{% endfor %}

</ul>
#}

{% endblock %}